@font-face {
  font-family: 'Inika';
  src: url('./assets/Fonts/Inika-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inika-bold';
  src: url('./assets/Fonts/Inika-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/Fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('./assets/Fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter-thin';
  src: url('./assets/Fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weigth: 300;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* text-size-adjust: auto; */
  /* -webkit-text-size-adjust: auto; */
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 40px;
}

.main-header {
  background-color: #edf2ec;
}

.header-wrapper {
  max-width: 1440px;
  margin: auto;
}

.header-content {
  max-width: 1220px;
  height: 50px;
  margin: 42px auto 42px auto;
  display: flex;
  justify-content: space-between;
  color: #010201;
}

.header-icon {
  font-family: 'Inika';
  color: #000000;
  font-size: 16px;
}

.header-icon p {
  position: relative;
  padding-left: 22px;
  height: 22px;
}

.header-icon p::before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 25%;
  width: 22px;
  height: 22px;
  background-image: url(./assets/Svg/logo_vector.svg);
}

.nav-list-bg {
  display: none;
  width: 31%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -69.9%;
  opacity: 0;
  transition: all 0.5s ease-in-out, opacity 0.2s;
  z-index: 1;
}

.nav-list {
  width: 452px;
  height: 50px;
  color: #010201;
  font-family: 'Inika';
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.nav-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item:hover {
  font-family: 'Inika-bold';
  color: #e06733;
  transition: 0.2s;
}

.nav-item:nth-child(1) {
  font-family: 'Inika-bold';
  color: #e06733;
}

.btn {
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background-color: #e06733;
}

/* Burger menu */

.body-lock {
  overflow: hidden;
}

.burger-btn {
  display: none;
  margin-right: 25px;
  width: 40px;
  height: 24px;
  align-self: center;
  position: relative;
  z-index: 2;
}

.burger-line1::before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #717171;
  position: absolute;
  left: 0%;
  top: 0%;
  transition: all 0.5s;
}

.burger-line1::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #717171;
  position: absolute;
  left: 0%;
  top: 33.3%;
  transition: all 0.5s ease-in-out;
}

.burger-line2::before {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #717171;
  position: absolute;
  left: 0%;
  top: 66.6%;
  transition: all 0.5s ease-in-out;
}

.burger-line2::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #717171;
  position: absolute;
  left: 0%;
  top: 99.9%;
  transition: all 0.5s;
}

.burger-line1-active::before,
.burger-line2-active::before {
  transform: rotate(45deg);
  top: 50%;
  background-color: #000;
}

.burger-line2-active::after,
.burger-line1-active::after {
  transform: rotate(-45deg);
  top: 50%;
  background-color: #000;
}

.burger-line1-active::after,
.burger-line2-active::before {
  transform: scaleX(2);
  background-color: transparent;
}

@media (max-width: 1000px) {
  .header-wrapper {
    max-width: 768px;
  }

  .header-content {
    max-width: 668px;
    height: 47px;
    margin: 35px auto 35px auto;
  }

  .header-icon p {
    width: 77px;
  }
  .nav-list {
    height: 47px;
  }
}

@media (max-width: 560px) {
  .main-header {
    height: 96px;
  }

  .header-wrapper {
    max-width: 380px;
    height: 96px;
  }

  .header-content {
    width: 100%;
    height: 24px;
    margin: 36px 0 0px 0;
  }

  .header-icon {
    margin-left: 25px;
    align-self: flex-end;
  }

  .header-icon p {
    margin: 0;
  }

  .nav-list {
    position: fixed;
    top: 0%;
    left: -100%;
    width: 70%;
    height: 100%;
    font-size: 30px;
    background-color: #e06733f8;
    opacity: 0;
    transition: all 0.5s ease-in-out, opacity 0.4s;
  }

  .nav-list-active {
    left: 0%;
    opacity: 1;
  }

  .nav-list-bg {
    position: fixed;
    display: block;
  }

  .nav-list-bg-active {
    display: block;
    background-color: #888585ee;
    left: 69.9%;
    opacity: 1;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-left: 40px;
  }

  .nav-item a:hover {
    font-family: 'Inika-bold';
    color: #edf2ec;
  }

  .burger-btn {
    display: block;
  }
}

/* HEADER END __________________________________________________________________________________________________ */

.welcome-wrapper {
  background-color: #edf2ec;
}

.welcome {
  max-width: 1440px;
  min-height: 532px;
  margin: auto;
  padding: 62px 0px 62px 0px;
}

.content-welcome {
  max-width: 1222px;
  min-height: 407.5px;
  margin: 0px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-side-welcome {
  width: 449px;
  height: 407.5px;
  background-image: url(./assets/Img/leafs.png);
  background-size: cover;
}

.right-side-welcome {
  max-width: 549px;
  min-height: 340px;
  font-family: 'Inter';
  align-self: center;
}

.title-welcome {
  font-family: 'Inter-bold';
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin: 0px 0px 42px 0px;
}

.title-welcome span {
  color: #499a18;
}

.right-side-welcome p {
  max-width: 524px;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin: 0px 0px 48px 0px;
}

.btn-welcome {
  width: 158px;
  height: 44px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: inherit;
  border: 2px solid #e06733;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn-welcome a {
  padding: 10px 10px 10px 10px;
}

@media (max-width: 1000px) {
  .welcome {
    max-width: 768px;
    min-height: 420px;
    padding: 40px 0px 70px 0px;
  }

  .content-welcome {
    max-width: 668px;
    min-height: 310px;
    flex-direction: row-reverse;
  }

  .left-side-welcome {
    width: 280px;
    height: 255px;
    background-image: url(./assets/Img/leafs.png);
    background-size: cover;
  }

  .right-side-welcome {
    max-width: 346px;
    min-height: 310px;
  }

  .title-welcome {
    font-size: 35px;
    line-height: 50px;
    color: #717171;
    margin: 0px 0px 30px 0px;
  }

  .right-side-welcome p {
    max-width: 341px;
    font-size: 16px;
    line-height: 25px;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 560px) {
  .welcome {
    max-width: 380px;
    min-height: 300px;
    padding: 0;
  }

  .content-welcome {
    max-width: 330px;
    min-height: 252px;
    display: block;
  }

  .left-side-welcome {
    display: none;
  }

  .right-side-welcome {
    max-width: 330px;
    min-height: 252px;
    padding-top: 25px;
  }

  .title-welcome {
    font-size: 25px;
    line-height: 35px;
    color: #717171;
    margin: 0px 0px 20.3px 0px;
  }

  .right-side-welcome p {
    max-width: 314.5px;
    min-height: 105.4;
    margin: 0px 0px 25px 0px;
  }

  .btn-welcome {
    width: 100px;
    height: 34.1px;
    font-size: 10px;
  }
}

/* about_____________________________________________________________________________________________________ */

.about {
  margin: auto;
  max-width: 1440px;
}

.content-about {
  max-width: 1222px;
  min-height: 479px;
  margin: 93px auto 94px auto;
  display: flex;
  justify-content: space-between;
}

.left-side-about {
  max-width: 605px;
  min-height: 350px;
  align-self: center;
}

.title-about {
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  max-width: 463px;
  min-height: 102px;
  color: #e06733;
  margin: 0px 0px 40px 0px;
}

.title-about span {
  color: #499a18;
}

.left-side-about p {
  margin: 0;
  max-width: 605px;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.right-side-about {
  width: 464px;
  height: 479px;
}

.right-side-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .about {
    max-width: 768px;
    height: 100%;
  }

  .content-about {
    max-width: 668px;
    min-height: 100%;
    margin: 40px auto 95px auto;
    flex-direction: column;
    align-items: center;
  }

  .left-side-about {
    max-width: 668px;
    align-self: unset;
    margin-bottom: 40px;
  }

  .title-about {
    font-size: 35px;
    line-height: 46.6px;
    max-width: 423px;
    margin: 0px auto 40px auto;
    text-align: center;
  }

  .left-side-about p {
    max-width: 668px;
  }

  .right-side-about {
    width: 250px;
    height: 258px;
  }
}

@media (max-width: 560px) {
  .about {
    max-width: 380px;
  }

  .content-about {
    max-width: 330px;
    height: 100%;
    margin: 30px auto 31px auto;
  }

  .left-side-about {
    max-width: 330px;
    min-height: 100%;
    margin-bottom: 0;
  }

  .title-about {
    font-size: 25px;
    line-height: 32.5px;
    max-width: 288px;
    min-height: 57.7px;
    margin: 0px auto 15px auto;
  }

  .left-side-about p {
    max-width: 330px;
    min-height: 228.3px;
    font-size: 15px;
    line-height: 25px;
  }

  .right-side-about {
    width: 150px;
    height: 147px;
  }
}

/* service______________________________________________________________________________________________ */

.service-wrapper {
  background-color: #edf2ec;
}

.service {
  max-width: 1440px;
  min-height: 1300px;
  margin: auto;
}

.header-service {
  margin: 0px 324px 90px 109px;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1007px;
}

.header-service h2 {
  font-weight: 400;
  font-family: 'Inika';
  margin: 0;
  max-width: 306px;
  line-height: 52px;
  color: #499a18;
  min-height: 94px;
}

.btn-group-service {
  width: 559px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-service {
  width: 161px;
  height: 50px;
  border: 1px solid #e06733;
  color: #e06733;
  font-family: 'Inika';
  font-size: 20px;
  line-height: 26px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: inherit;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-service-active {
  color: #ffffff;
  background-color: #e06733;
}

.content-service {
  font-family: 'Inter';
  line-height: 20px;
  max-width: 1222px;
  min-height: 955px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 55px;
  flex-wrap: wrap;
  margin-bottom: 121px;
}

.content-item-service {
  width: 330px;
  height: 450px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  transition: 0.5s;
}

.blur {
  filter: blur(4px);
  transition: 0.5s;
}

.content-item-service-active {
  filter: blur(0px);
  transition: 0.5s;
}

.content-img {
  width: 329px;
  height: 350px;
}

.content-img img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-item-service h3 {
  font-family: 'Inter-bold';
  font-size: 20px;
  color: #e06733;
  text-align: center;
  margin: 10px 0px;
}

.content-item-service p {
  width: 267.2px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #717171;
  text-align: center;
  margin: 0 auto 36px auto;
}

@media (max-width: 1000px) {
  .service {
    max-width: 668px;
    min-height: 1780px;
  }

  .header-service {
    margin: 0px 159px 40px 0px;
    padding-top: 60px;
    flex-direction: column;
    max-width: 559px;
  }

  .header-service h2 {
    font-size: 35px;
    line-height: 46.6px;
    margin-bottom: 40px;
  }

  .btn-group-service {
    align-self: unset;
    justify-content: space-between;
  }

  .btn-service {
    margin: 0;
  }

  .content-service {
    max-width: 668px;
    min-height: 1426px;
    margin: auto;
    justify-content: space-between;
    gap: 38px;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

  .content-item-service {
    width: 280px;
  }

  .content-item-service p {
    width: 201px;
    height: 40px;
    text-align: center;
    margin: 0 auto 20px auto;
  }

  .content-img {
    width: 280px;
  }
}

@media (max-width: 560px) {
  .service {
    max-width: 380px;
    min-height: 3150px;
  }

  .header-service {
    margin: 0px 25px 40px 25px;
    padding-top: 30px;
    max-width: 252px;
  }

  .header-service h2 {
    max-width: 187px;
    min-height: 69px;
    font-size: 25px;
    line-height: 32.5px;
    margin-bottom: 35px;
  }

  .btn-group-service {
    width: 252px;
    gap: 9px;
    flex-wrap: wrap;
  }

  .btn-service {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 19.5px;
  }

  .content-service {
    width: 280px;
    height: 2870px;
    margin: 0 auto 27px auto;
    gap: 34px;
  }
}

/* prices_________________________________________________________________ */

.prices {
  max-width: 1440px;
  min-height: 560px;
  margin: auto;
}

.content-prices {
  max-width: 1222px;
  min-height: 405px;
  margin: 0 auto 115px auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.left-side-prices h2 {
  margin: 0 0 60px 0;
  font-weight: 700;
  line-height: 48.5px;
  color: #000000;
  font-family: 'Inter-bold';
}

.list-prices-container {
  width: 332px;
  min-height: 282px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.list-prices {
  width: 250px;
  min-height: 214px;
  margin: 34px 41px 34px 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  gap: 32px;
}

.item-price {
  height: 50px;
  background-color: #edf2ec;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.item-price-active {
  height: 154px;
  background-color: #d6e7d2;
}

.header-item-price {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: 0.5s ease;
}

.header-item-price-active::before {
  content: '';
  width: 162px;
  height: 0.5px;
  background-color: #aea1a1;
  position: absolute;
  left: 40px;
  bottom: 4px;
}

.title-item-price {
  margin: 0;
  width: 100px;
  height: 18px;
  font-family: 'Inter-bold';
  font-size: 20px;
  line-height: 20px;
  margin: 16px 0px 16px 40px;
}

.drop-btn {
  width: 16px;
  height: 16px;
  margin: 17px 40px 17px 0px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-out;
}

.arrow-drop-btn {
  width: 4px;
  height: 4px;
  border-top: 1px solid #717171;
  border-right: 1px solid #717171;
  transform: rotate(135deg);
  transition: 0.5s ease-out;
}

.drop-btn-active {
  background-color: #aea1a1;
}

.arrow-drop-btn-active {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(-45deg) translate(-20%, 20%);
}

.content-item-price {
  height: 90px;
  margin: 2px 40px 12px 40px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-out, opacity 0.3s step-end;
}

.content-item-price-active {
  visibility: visible;
  opacity: 1;
}

.content-item-price p:nth-child(1) {
  height: auto;
  margin: 0 0 6px 0;
  font-family: 'Inter-thin';
  font-size: 10px;
  line-height: 10px;
  color: #717171;
}

.content-item-price p:nth-child(2) {
  height: auto;
  margin: 0 0 12px 0;
  font-family: 'Inter';
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.content-item-price p:nth-child(2) span {
  font-family: 'Inter-bold';
  color: #e06733;
}

.content-item-price p:nth-child(2) span:nth-child(2) {
  font-size: 16px;
}

.content-item-price button {
  width: 86px;
  height: 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.content-item-price button a {
  font-family: 'Inter-bold';
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  margin-right: 10px;
  padding: 4px 20px 4px 10px;
}

/* rigth side */

.right-side-prices {
  max-width: 452px;
  min-height: 405px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-side-prices p {
  font-family: 'Inter-bold';
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  max-width: 452px;
  min-height: 103px;
  margin: 0 0 38px 0;
  color: #000000;
}

.right-side-prices p span {
  color: #499a18;
}

.btn-prices {
  font-family: 'Inika';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 162px;
  height: 50px;
  margin: 0 0 39px 0;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  background-color: inherit;
  transition: all 0.5s;
}

.btn-prices a {
  padding: 10px 10px 10px 10px;
}

.right-side-prices img {
  width: 152px;
  height: 175px;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .prices {
    max-width: 768px;
    min-height: 585px;
    margin: auto;
  }

  .content-prices {
    max-width: 668px;
    min-height: 457px;
    margin: 0 auto 88px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .left-side-prices h2 {
    max-width: 135px;
    min-height: 49px;
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 35px;
    line-height: 42.3px;
  }

  .right-side-prices {
    max-width: 296px;
    min-height: 358px;
    margin-top: 100px;
  }

  .right-side-prices p {
    font-size: 25px;
    line-height: 35px;
    max-width: 296px;
    min-height: 77.4px;
    margin: 0 0 21.6px 0;
  }

  .btn-prices {
    margin: 0 0 34px 0;
  }
}

@media (max-width: 560px) {
  .prices {
    max-width: 380px;
    min-height: 512px;
    margin: auto;
  }

  .content-prices {
    max-width: 230px;
    min-height: auto;
    padding-top: 25px;
    margin: 0px auto 40px auto;
    flex-direction: column;
    align-items: center;
  }

  .left-side-prices h2 {
    max-width: 90px;
    min-height: 27px;
    text-align: center;
    margin: 0 auto 40px auto;
    font-size: 25px;
    line-height: 30.2px;
  }

  .list-prices-container {
    width: 224px;
    min-height: 235px;
    margin-bottom: 19px;
  }

  .list-prices {
    width: 180px;
    min-height: 177px;
    margin: 29px auto 29px auto;
    gap: 13.9px;
  }

  .header-item-price {
    width: 180px;
    height: 50px;
  }

  .header-item-price-active::before {
    width: 105px;
    left: 30px;
    bottom: 6px;
  }

  .title-item-price {
    width: 89px;
    height: 17px;
    font-size: 15px;
    margin: 16px 0px 16px 30px;
  }

  .content-item-price {
    height: 90px;
    margin: 2px 30px 12px 30px;
  }

  .content-item-price p:nth-child(1) {
    margin: 0 0 4px 0;
    font-size: 9px;
    line-height: 10px;
    color: #717171;
  }

  .content-item-price p:nth-child(2) {
    margin: 0 0 8px 0;
    font-size: 11px;
  }

  .content-item-price p:nth-child(2) span {
    font-family: 'Inter-bold';
    color: #e06733;
  }

  .content-item-price p:nth-child(2) span:nth-child(2) {
    font-size: 15px;
  }

  .content-item-price button {
    width: 70px;
    height: 20px;
  }

  .content-item-price button a {
    font-size: 12px;
  }

  .right-side-prices {
    max-width: 230px;
    min-height: 126px;
    margin: 0;
    align-items: center;
  }

  .right-side-prices p {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    max-width: 230px;
    min-height: 77px;
    margin: 0 0 14px 0;
  }

  .btn-prices {
    font-size: 15px;
    line-height: 19.5px;
    width: 121px;
    height: 35px;
    margin: 0;
  }

  .right-side-prices img {
    display: none;
  }
}

/* contacts ____________________________________________________________________ */

.contacts-wrapper {
  background-color: #edf2ec;
}

.contacts {
  max-width: 1440px;
  min-height: 550px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.contact-woman {
  width: 400px;
  height: 497px;
  order: 1;
  align-self: end;
  margin-left: 109px;
  position: relative;
  z-index: 1;
}

.contact-woman img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts h2 {
  max-width: 195px;
  min-height: 51px;
  margin: 60px 64px 0px 113px;
  font-family: 'Inika-bold';
  line-height: 52px;
  color: #499a18;
  order: 2;
}

.list-contacts-container {
  width: 450px;
  height: 400px;
  margin: 148px 109px 0px 0px;
  order: 3;
  position: relative;
  transition: 0.5s ease-in-out;
}

.header-select {
  width: 450px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #d6e7d2;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.header-select-active {
  box-shadow: none;
  background-color: #c1e698;
}

.header-select p {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 40px;
  color: #717171;
}

[data-offset='true'] {
  margin: 5px 0 5px 35px;
  transition: 0.5s ease-in-out;
}

[data-offset='false'] {
  margin: 5px 0 5px 20px;
  transition: 0.5s ease-in-out;
}

.btn-select {
  margin: 17px 35px 17px 0;
  background-color: #aea1a1;
}

.btn-select .arrow-drop-btn {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.contacts-select {
  background-color: #dce9d9;
  position: relative;
  z-index: 3;
}

.content-select-items {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 0px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  transition: 0.5s ease-in-out;
}

.content-select-items-active {
  gap: 12px;
  height: 100%;
  padding: 27px 0 31px 0;
}

.select-item {
  color: #499a18;
  font-family: 'Inter';
  font-size: 16px;
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.select-item-active {
  opacity: 1;
  height: 35px;
}

.select-item:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}

.select-item p {
  margin: 0 0 0 6px;
}

/* Cities */

.city-contacts {
  width: 450px;
  height: 214px;
  border: 1px solid #000000;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 47px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s, visibility 2s;
}

.city-contacts-active {
  margin-top: 47px;
  visibility: visible;
  opacity: 1;
}

.city-contacts-info {
  width: 339px;
  margin: 17px 0 15px 33px;
  display: flex;
  gap: 15px;
}

.city-contacts-info div {
  display: flex;
  flex-direction: column;
}

.city-contacts-info div p {
  margin: 0;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 40px;
}

.city-contacts-info div:nth-child(2) p {
  color: #717171;
}

.city-contacts button {
  width: 122px;
  height: 26px;
  border: 1px solid #e06733;
  border-radius: 5px;
  margin: 0 163px 32px 163px;
  font-family: 'Inika-bold';
  font-size: 10px;
  line-height: 13px;
  color: #717171;
  transition: all 0.5s;
  cursor: pointer;
}

.city-contacts button a {
  padding: 5px 30px;
}

.city-contacts button:hover {
  background-color: #e06733;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .contacts {
    max-width: 768px;
    min-height: 739px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }

  .contact-woman {
    width: 200px;
    height: 248.5px;
    order: 3;
    margin: 0 auto 0 auto;
  }

  .contacts h2 {
    max-width: 192px;
    min-height: 51px;
    margin: 40px auto 69px auto;
    order: 1;
  }

  .list-contacts-container {
    height: 300px;
    margin: 31px auto 0 auto;
    order: 2;
  }

  .list-contacts-container-active {
    margin-top: 0px;
    margin-bottom: 31px;
  }

  .city-contacts-active {
    margin-top: 61px;
  }
}

@media (max-width: 560px) {
  .contacts {
    max-width: 380px;
    min-height: 445px;
    justify-content: unset;
  }

  .contact-woman {
    width: 100px;
    height: 124.2px;
    margin: auto auto 0 auto;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .contact-woman-active {
    opacity: 0;
  }

  .contacts h2 {
    max-width: 192px;
    min-height: 34px;
    margin: 25px auto 42px auto;
    font-size: 25px;
    line-height: 32.5px;
  }

  .list-contacts-container {
    width: 300px;
    height: 50px;
    margin: 38px auto 0 auto;
  }

  .list-contacts-container {
    margin-top: 0px;
    margin-bottom: 38px;
  }

  .header-select {
    width: 300px;
  }

  [data-offset='true'] {
    margin-left: 20px;
  }

  .btn-contacts {
    margin: 17px 20px 17px 0;
    background-color: #aea1a1;
  }

  .city-contacts {
    width: 282px;
    height: 212px;
    margin: 0 auto 0 auto;
    right: 9px;
  }

  .city-contacts-active {
    margin-top: 49px;
    margin: 49px auto 0 auto;
  }

  .city-contacts-info {
    width: 208px;
    margin: 30px auto 0 auto;
    display: flex;
    gap: 10px;
  }

  .city-contacts-info div {
    gap: 15px;
  }

  .city-contacts-info div p {
    margin: 0;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
  }

  .city-contacts-info div:nth-child(1) {
    width: 64.7px;
  }

  .city-contacts button {
    width: 121.4px;
    margin: 20px 74px 23px 86px;
  }

  .content-select-items {
    max-width: 230px;
  }
}

/* footer__________________________________________________________________________________________ */

.footer {
  height: 130px;
}

.footer-content {
  max-width: 1222px;
  height: 50px;
  margin: 40px auto 40px auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-data {
  width: 182px;
  height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-data p {
  margin: 0;
}

.footer-data p:nth-child(3) {
  padding-right: 13px;
}

.social-lis {
  width: 188px;
  height: 50px;
}

.social-lis ul {
  margin: 12px 0 12px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-lis ul li {
  width: 26px;
  height: 26px;
}

.social-lis ul li a {
  width: 100%;
  height: 100%;
  display: block;
}

.social-lis ul li img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .footer {
    margin: auto;
    min-height: 181px;
  }

  .footer-content {
    max-width: 210px;
    min-height: 130px;
    margin: 33px auto 18px auto;
    justify-content: space-between;
    flex-direction: column;
    line-height: 24.2px;
  }

  .footer-data {
    align-self: center;
    width: 190px;
    height: 24px;
    justify-content: space-around;
    align-items: flex-start;
  }

  .footer-data p:nth-child(3) {
    padding-right: 0;
  }

  .social-lis {
    align-self: center;
  }

  .social-lis ul {
    margin-top: 10px;
    justify-content: space-between;
  }
}

@media (max-width: 560px) {
  .footer {
    max-width: 380px;
    min-height: 146px;
  }

  .footer-content {
    max-width: 210px;
    min-height: 117px;
    margin: 22px auto 7px auto;
  }
}
